@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
    --primary: rgb(58, 60, 66);
    --decor: #ff9900;
    --bcg: #ff0000;
    --bg: #fafaff;
    --shadow: rgb(153, 153, 175);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    background-color: var(--bcg);
    width: 100%;
    height: 2rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1000;
    box-sizing: border-box;
}

.nav-left{
    display: flex;
    padding-left: 0.1rem;
    align-items: left;
    margin-right: 1rem;
    margin-top: 0.2rem;
}

.nav-right{
    padding-right: 1rem;
    align-items: center;
    display: flex;
    padding-left: 0.1rem;
    align-items: right;
}

.nav-left a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0.25rem;
    margin-top: 0.5rem;
}

.nav-left .follow{
    align-items: center;
}

.nav-left .follow p{
    display: inline-block;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0.25rem;
    margin-top: 0.5rem;
    color: black;
}

.nav-left .follow-list{
    margin: 0;
    text-align: center;
    padding: 0;
    height: 2rem;
}

.nav-left .follow-list a{
    padding: 0 0.5rem;
    text-align: center;
}

.nav-left .bantuan{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
}

.nav-left .bantuan a{
    font-size: 1rem;
    font-weight: 400;
}

.nav-left .bantuan .bantuan-list{
    overflow: hidden;
    position: absolute;
    max-height: 0;
    width: max-content;
    text-align: left;
    top: 60px;
    z-index: 1;
    background-color: var(--bcg);
    box-shadow: 1px 1px 2.4px 0 var(--shadow);
    border-radius: 0.1rem;
    box-sizing: border-box;
    transform: translateY(-2em);
    transition: max-height 0.3s;
}

.nav-left .bantuan .bantuan-list.show{
    max-height: 400px;
    transition: max-height 0.3s;
}

.bantuan-list a{
    color: var(--primary);
    padding: 0.2rem;
    text-decoration: none;;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    padding: 0.2rem 0.5rem;
}

.bantuan-list a:hover{
    background-color: rgb(233, 236, 240);
}

.nav-left .follow{
    cursor: auto;
}

.nav-left .follow::after{
    transform: scaleX(0);
}

.nav-left .follow:hover::after{
    transform: scaleY(1);
}

.nav-left a:hover{
    color: grey;
}

.nav-right a:hover{
    color: grey;
}

.nav-right a{
    font-size: 1.2rem;
}

.nav-right .menu-profil i{
    color: var(--primary);
}

.nav-right .menu-profil{
    position: relative;
    display: flex;
    color: var(--primary);
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 0.5rem;
}

.nav-right .menu-profil .user-name{
    align-items: center;
    padding-right: 1rem;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.nav-right .menu-profil .user-icon{
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
}

.sub-menu{
    overflow: hidden;
    position: absolute;
    text-align: left;
    z-index: 1;
    right: 0;
    max-height: 0;
    width: 13rem;
    background-color: var(--bg);
    box-shadow: 1px 1px 2.4px 0 var(--shadow);
    transform: translateY(-2em);
    margin-right: 1.4em;
    margin-top: -1em;
    top: 70px;
    transition: max-height 0.3s;
}

.sub-menu.show-user{
    max-height: 400px;
    transition: max-height 0.3s;
}

.sub-menu i{
    margin-left: 0.5rem ;
    margin-right: 0.5rem;
}

.sub-menu a{
    color: var(--primary);
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
}

.sub-menu a:hover{
    color: var(--primary);
    background-color: rgb(233, 236, 240);
}


.header-all{
    display: block;
    position: fixed;
    height: 8rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 0;
    z-index: 1000;
    margin-top: 0;
}

.header-containsrc-chart{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    box-sizing: border-box;
    line-height: 2rem;
    margin: 0;
    padding-right: 1rem;
    padding-left: 0.2rem;
    border-radius: 0 0 1rem 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0.5px 0.5px 5px var(--shadow);
    background-color: #f3f4f5;
}

.header-containsrc-chart .gp{
    display: flex;
    align-items: center;
    height: 4.4rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 0.5rem;
    padding-top: 0.1rem;
    box-sizing: border-box;
}

.header-containsrc-chart .gp img{
    display: flex;
    align-items: center;
    height: 40px;
    width: 162px;
    box-sizing: border-box;
}

.header-containsrc-chart .gp a{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.header-containsrc-chart .gp{
    display: flex;
    align-items: center;
    height: 4.4rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    color: var(--primary);
    box-sizing: border-box;
}

.header-containsrc-chart a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
}

.header-containsrc-chart .kategori-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-containsrc-chart .kategori-icon .kategori-list{
    overflow: hidden;
    position: absolute;
    width: max-content;
    text-align: left;
    z-index: 1;
    max-height: 0;
    background-color: var(--bg);
    box-shadow: 1px 1px 2.4px 0 var(--shadow);
    box-sizing: border-box;
    transform: translateY(-5em);
    transition: max-height 0.3s;
    top: 105px;
}

.header-containsrc-chart .kategori-icon .kategori-list.show-menu{
    max-height: 400px;
}

.kategori-list a{
    color: var(--primary);
    padding: 0.2rem;
    text-decoration: none;
    display: grid;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    padding: 0.2rem 1rem;
}

.kategori-list a:hover {
    background-color: rgb(233, 236, 240);
}

.header-containsrc-chart .src-box{
    display: inline-block;
    width: 100%;
    padding: 0;
}
.header-containsrc-chart .src-box form{
    width: 100%;
    display: flex;
    height: 0.8rem;
    right: 0;
    align-items: center;
    margin: 0.1rem;
    margin-right: 0;
    padding: 1rem 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 0.2rem;
}

.header-containsrc-chart .src-box input{
    width: 96%;
    height: 1.5rem;
    margin: 0;
    border: none;
    outline: none;
    background-color: unset;
    padding-right: 0.5rem;
    overflow: auto;
}

.header-containsrc-chart .src-box button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 0.1rem;
}

.header-containsrc-chart button i:hover{
    color: var(--decor);
}

.header-containsrc-chart .chart{
    position: relative;
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-right: 2rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    color: var(--primary);
}

.header-containsrc-chart .chart .stuff{
    display: flex;
}

#cart-icon{
    margin: 0.3rem 3%;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#cart-icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0.3rem 3%;
    font-size: 1.5em;
    font-weight: 600;
}

.cart-icon {
    font-size: 24px;
    margin-right: 5px;
}

.cart-count {
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 50%;
}

.cart-icon a {
    color: #007bff;
    text-decoration: none;
}

/* =================== Media Queries - Responsive =================== */

/* Iphone SE */
@media (max-width: 375px){
    .header-all,
    .nav{
        font-size: 0.8rem;
        align-items: center;
    }
    .nav-left .follow p {
        font-size: 0.6rem;
        align-items: center;
    }

    .nav-left .follow-list a{
        align-items: center;
        margin-top: 0;
    }

    .nav-left .follow p {
        font-size: 0.6rem;
        align-items: center;
    }
    .nav-left .bantuan a{
        font-size: 0.6rem;
        align-items: center;
    }

    .nav-left a{
        font-size: 0.6rem; 
        align-items: center;
    }

    .nav-right .menu-profil i{
        font-size: 0.8em;
    }

    .nav-right .menu-profil .user-name {
        font-size: 0.7rem;
    }
    .header-containsrc-chart .gp{
        margin-left: 0;
    }

    .header-containsrc-chart .gp img{
        height: 20px;
        width: 101px;
    }

    .header-containsrc-chart .kategori-icon{
        margin: auto 0.5rem auto 0.5rem;
    }

    .header-containsrc-chart .chart{
        margin: auto 0;
    }

    .header-containsrc-chart .src-box form {
        height: 0.5rem;
        font-size: 0.5rem;
    }

    .nav-right .menu-profil .user-name {
        font-size: 0.7rem;
    }

    #cart-icon{
        font-size: 0.8rem;
    }
    .fa-solid{
        font-size: 0.7rem;
    }
}

/* Iphone XR */
@media (max-width: 414px){
    .nav-right .menu-profil i{
        font-size: 0.8em;
    }

    .header-containsrc-chart .gp{
        margin-left: 0;
    }

    .header-containsrc-chart .kategori-icon{
        margin: auto 0.3em;
    }

    .header-containsrc-chart .chart{
        margin: auto 0;
    }
}

/* Iphone 12 Pro */
@media (max-width: 390px){
    nav{
        font-size: 75%;
        height: 3rem;
        align-items: center;
    }

    .nav-left .bantuan{
        align-items: center;
        padding: 0 auto;
        margin-bottom: 1rem;
    }

    .follow-list{
        display: flex;
        align-items: center;
    }

    .follow-list a{
        align-items: center;
        margin-top: 0;
    }

    .chart{
        margin-left: 0;
    }

    .nav-right{
        margin-top: 0;
        align-items: top;
    }
}

/* Pixel 5 */
@media (max-width: 393px){
    nav{
        height: 3rem;
        font-size: 75%;
    }

    .nav-left .follow-list{
        display: flex;
    }
}

/* Samsung Galaxy S8*/
@media (max-width: 360px){
    .nav-left .follow-list a{
        align-items: center;
        margin-top: 0;
        padding: 0 auto;
    }

    .header-containsrc-chart{
        padding: 0;
    }

    .header-containsrc-chart .gp img{
        height: 30px;
        width: 121px;
    }

    .header-containsrc-chart .chart{
        font-size: 1rem;
        margin: auto 0;
        margin-left: 0.5rem;
    }

    .header-containsrc-chart{
        font-size: 80%;
    }

    .header-containsrc-chart .kategori-icon{
        margin: auto 0.5rem;
    }
}

/* Samsung Galaxy Fold */
@media (max-width: 280px){
    .header-all{
        font-size: 10%;
    }

    nav{
        font-size: 70%;
        height: 4rem;
    }

    .nav-left .follow-list{
        display: block;
        margin-top: 1rem;
    }

    .nav-left .bantuan{
        align-items: center;
        margin: 0;
    }

    .header-containsrc-chart .gp img{
        height: 30px;
        width: 121px;
    }

    .header-containsrc-chart .cart{
        right: -130%;
    }
}